@tailwind base;
@tailwind components;
@tailwind utilities;

@layer bsae {
    @font-face {
        font-family: "Dana";
        src: url(../fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";
        src: url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";
        src: url(../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: url(../fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: url(../fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: url(../fonts/Morabba/woff2/Morabba-Light.woff2) format("woff2");
        font-display: swap;
    }
}

@layer components {
    .submenu{
        @apply invisible max-w-0 max-h-0 opacity-0 mb-0 overflow-hidden flex-col pr-7 text-zinc-600 dark:text-white mt-0 gap-y-3 transition-all ease-in-out duration-300;
    }
    .submenu--open{
        @apply flex mt-3 max-h-[215px] max-w-full opacity-100 visible;
    }
    .overlay{
        @apply fixed invisible opacity-0 w-full h-full md:hidden inset-0 bg-black/40 z-10 transition-all duration-300;
    }
    .overlay--visible{
        @apply visible opacity-100;
    }


    .submenu-item--active{
    position: relative;
    transition: all 150ms ease-in-out;
    }
    .submenu-item--active::after{
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 100px;
        background: #fdba74;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .submenu-item--active:hover::after{
        width: 4px;
        height: 4px;
    }
    .submenu-item--active:hover{
        padding-right: 10px;
        color: #fdba74;
    }
    .main-menu__hover:hover{
        @apply bg-orange-200/20;
    }


    .circle{
        @apply flex justify-center items-center border rounded-full
    }
    .circle--main{
        @apply absolute bottom-0 left-0 right-0 mx-auto translate-y-2/4 hidden md:flex
    }
    .circle--lg{
        @apply h-[203px] w-[203px] border-white/25
    }
    .circle--md{
        @apply h-[145px] w-[145px] border-white/50
    }
    .circle--sm{
        @apply h-[95px] w-[95px] border-white/80
    }

       @media screen and (min-width: 1280px) {
           html.dark .product{
               background-image: url("../images/product-bg.png");
           }
           .product{
               background: linear-gradient(rgba(243 ,244 ,246,0.65), rgba(243 ,244 ,246,0.65)), url("../images/product-bg.png");
               background-repeat: no-repeat;
               background-size: 100%;
           }
       }





    .section-title{
        @apply font-Morabba-Medium text-2xl md:text-5xl text-zinc-700 dark:text-white
    }
    .section-subtitle{
        @apply inline-block font-Morabba-Light mt-0.5 md:mt-1.5 text-lg md:text-3xl text-zinc-700 dark:text-white
    }
    .section-link{
    @apply flex items-center text-base md:text-xl md:gap-x-1 tracking-tightest h-10 pl-1 pr-3 rounded-md text-orange-300 transition-colors md:hover:bg-orange-300/20
    }


    .offer{
        @apply relative text-gray-400
    }

    .offer::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        inset: 0;
        top: -2px;
        background-color: #EF4444;
        margin: auto;
    }



    .product-banner__item1{
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 33.85%, rgba(0, 0, 0, 0.1) 100%), url("../images/categories/category-right.jpg");
               background-size: cover;
    }
    .product-banner__item2{
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 33.85%, rgba(0, 0, 0, 0.1) 100%), url("../images/categories/category-left.jpg");
               background-size: cover;
    }



    .swiper-button-prev-custom,
    .swiper-button-next-custom{
        @apply w-9 h-9 md:w-11 md:h-11 bg-white dark:bg-zinc-700 cursor-pointer text-zinc-700 dark:text-white rounded-full transition-all hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700
    }
}
@layer utilities {
    .flex-center{
        @apply flex items-center justify-center
    }
}